<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Lidar Visualizer</Name>
    <Version>0.0.1</Version>
    <Title>Lidar Visualizer installer</Title>
    <Publisher>Gregory DEPUILLE</Publisher>
    <StartMenuDir>ARIG</StartMenuDir>
    <TargetDir>@ApplicationsDir@/arig/lidarVisualizer</TargetDir>
</Installer>
